body {
  font-family: Arial, Helvetica, sans-serif;
  color: #1459A8;
}

img {
  width: 100%;
  height: 500px;
}

.titulo_logo {
  float: left;
  width: 700px;
  height: 30px;
  padding-left: 90px;
}

.botoes {
  padding-right: 90px;
}

button {
  cursor: pointer;
  width: 120px;
  height: 40px;
  background-color: #1459A8;
  font-size: 17px;
  color: #ffffff;
  border-radius: 10px 10px;
  margin: 20px 20px;
  float: right;

  border: none;
}

.button::after,
.button::before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  transition: all 280ms ease-in-out;
  width: 0;
}

.button:hover::after,
.button:hover::before {
  backface-visibility: hidden;
  border-color: #ffffff62;
  transition: width 330ms ease-in-out;
  width: 80%;
}

.button:hover::before {
  bottom: auto;
  top: 0;
  width: 80%;
}

hr {
  width: 100%;
}
.pontilhado {
  size: 1px;
  border: 1px dashed #1459A8;
}
.check{
  
  display: grid;
  grid-template-columns: repeat(3, 250px) ;
}
.busca{
  padding-right: 90px;
}